
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#00003B;
    color: #333;
}

header {
    background-color: #F4F4F4;
    color: #007BFF;
    padding: 20px 0;
    text-align: center;
}
header h1 {
    margin: 0;
    padding: 10px 0;
}
nav {
    background-color: #F4F4F4;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 15px;
    cursor: pointer;
    padding: 10px 20px;
    color: #007BFF;
    transition: background-color 0.3s;
    border-radius: 5px;
}
nav li:hover, nav li.active {
    background-color: #007BFF;
    color: white;
}
main {
    padding: 20px;
    display: flex;
    justify-content: center;
}
#news-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    max-width: 1500px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 55px;
}
.news-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.news-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.news-item h2 {
    margin-top: 10px;
    color: #007BFF;
}
.news-item p {
    font-size: 0.9em;
    color: #666;
}
.news-item a {
    color: #007BFF;
    text-decoration: none;
}
.news-item a:hover {
    text-decoration: underline;
}















