body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #091625;
}
#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

  background-color: #83079991;

  background-color: rgb(200, 183, 216);

}

h1 {
    text-align: center;
}

#search {
    width: 600px;
    padding: 10px;
    margin-bottom: 20px;
}
#btn{
    background-color: #1870cd;
    width: 100px;
    border-radius: 16px;
    color: #ddd;
    font-size: larger;
    padding: 10 15 10 15px;
  
}

button {
    padding: 10px;
}
.news-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.news-item h2 {
    margin: 0;
}
.news-item p {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.news-item a {
    color: #007BFF;
    text-decoration: none;
    font-size: larger;
}
.news-item a:hover {
    text-decoration: underline;
}
.news-item img {
    width: 100%;
    max-width: 300px; 
    height: auto; 
    margin-bottom: 10px; 
    display: flex;
}
link{
    text-decoration: none;
    font-size: larger;
    color: black;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


@media only screen and (max-width: 480px) {
    #search {
        width: 200px;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
    }
    #btn{
        background-color: #1870cd;
        width: 80px;
        border-radius: 16px;
        color: #ddd;
        font-size: small;
        padding: 5 10 5 10px;
    }
    .content{
        display: flex;
        gap: 10px;
        width: 300px;
        padding: 10px;
        margin-bottom: 20px;
   }
   body{
    width: 80%;
   }
       
    }
   
  